@layer base {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

.industrial-pattern {
    background-image: radial-gradient(#cbd5e1 0.5px, transparent 0.5px);
    background-size: 24px 24px;
}

.dark .industrial-pattern {
    background-image: radial-gradient(#334155 0.5px, transparent 0.5px);
}

.text-gradient {
    background: linear-gradient(to right, #1e40af, #3b82f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}